*
    font-size: 12px;
#app
    height: 100vh;
    >.menu
        border-radius: 0;
    .content.wrapper
        // min-height: 80vh;
        margin-left: 150px;
    .footer
        margin-top: 2em;
    .item-id
        margin-right: 1em;
    .first.on.top
        margin: -1em 0 -2em 0;
        border:none;
        border-radius: 0;
    .cheque table
        margin: 0 auto;
    .hidden
        display:none!important;
    .vsb.color
        &.grey
            color: rgba(0,0,0,.5);
    .code.value
        margin-left: 4px;
        font-weight: 100;
    .selected-editing
        background-color: rgba(33,186,69,.1);
        padding: 1em;
    .datepicker
        min-width:288px;
    .top-events
        position: relative;
        .top-events-count
            position: absolute;
            right: -.5em;
            top: -.8em;
            left: auto;
            bottom: auto;
